#tabs {

}

#tabs div {
    display: inline-block;
    background-color: bisque;
    border: 1px solid gray;
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 40px;
    line-height: 40px;
}


#content {
    background-color: burlywood;
    font-family: 'Roboto', sans-serif;
    height: 200px;
    padding: 20px;
}

.container {
    max-width: 1000px;
    display:inline-block;
    width: 100%;
    padding: 100px;
}

.outer_container {
    text-align: center;
}

#hero {
    width:100%;
    height: 300px;
    object-fit: cover;
}

body{
    padding:0;
    margin:0;
}